@{
    ViewBag.Title = "The Flavour Frenzy Range";
}

<body class="bg-dark">
    <div class="text-white text-center" style="padding-top: 50px;">
        <strong style="font-size:50px">Bites</strong>
        <div class="row row-cols-3">
            <div class="col">
                <h1>Cheese Bites</h1>
                <img src="https://dancingthroughtherain.com/wp-content/uploads/2020/02/Easy-Fried-Cheese-Bites81-720x720.jpg" style="height: 70%; width: 90%; " alt="Cheese Bites" />
                <p1>
                    Cheese Bites made to melt in your mouth and to maximise crunchiness. These Cheese Bites will be the only cheese bites that you desire as these are the top notch cheese bites
                    that you had when you were a kid and now you can finally eat them again with your adult money!
                </p1>
                <div>
                    <strong>
                        Located In New Market and Manukau Stores<br />
                        New Market - 277 Broadway
                        <br />
                        Manukau - 652 Great South Road
                    </strong>
                </div>
            </div>
            <div class="col">
                <h1>Chicken Bites</h1>
                <img src="https://sallysbakingaddiction.com/wp-content/uploads/2014/08/Super-crunchy-Pretzel-Crusted-Chicken-Bites-on-sallysbakingaddiction.com_.-These-are-SO-easy-and-delicious_-2.jpg" style="height: 70%; width: 90%; " alt="Chicken Bites" />
                <p1>
                    Chicken bites made to taste exquisite with a satisfying crunch. These Chicken bites will make you mouth water at the juicy, succulent, flavourful chicken bites.
                    These are top notch cheese bites that will give KFCs popcorn chicken a run for its money!
                </p1>
                <div>
                    <strong>
                        Located In New Market and Manukau Stores<br />
                        New Market - 277 Broadway
                        <br />
                        Manukau - 652 Great South Road
                    </strong>
                </div>
            </div>
            <div class="col">
                <h1>Broccoli Bites</h1>
                <img src="https://spicysouthernkitchen.com/wp-content/uploads/2022/07/Broccoli-Cheese-Balls-3.jpg" style="height: 70%; width: 90%;" alt="Broccolit Bites" />
                <p1>
                    Broccoli bites made to allow for the soft textures of the broccoli to shine through alongside the crunchiness of our very own batter. This will allow you to feed
                    thos children who do not like to eat vegetables. As they will form an addiction after their first bite!
                </p1>
                <div>
                    <strong>
                        Located In New Market and Manukau Stores<br />
                        New Market - 277 Broadway
                        <br />
                        Manukau - 652 Great South Road
                    </strong>
                </div>
            </div>
        </div>

        <div class="text-white text-center">
            <strong style="font-size:50px;">Patties</strong>
            <div class="row row-cols-2">
                <div class="col">
                    <h1>Quarter Pounder Patties</h1>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_xQ97jNRAjK1zlKtcfinzDr-D6uZL2_yT3a0usUXt_z-b4pMznqaqUjPJgajnIAbxnSY&usqp=CAU" style="height: 70%; width: 100%; " alt="Quarter Pounder Patties" />
                    <p1>
                        Quarter Pounder Patties will make you the talk of the block if you bring these to any block parties that you amay attend in your life time. These patties are made with
                        100% vegan cows that only eat grass and stuff because they are vegan and vegans will overpay
                    </p1>
                    <div>
                        <strong>
                            Located In New Market and Manukau Stores<br />
                            New Market - 277 Broadway
                            <br />
                            Manukau - 652 Great South Road
                        </strong>
                    </div>
                </div>
                <div class="col">
                    <h1>Southern Style Chicken Patties</h1>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXIxJAnSugUJC3xpHk45J__941xatXU5pMyg&usqp=CAU" style="height: 70%; width: 100%; " alt="Southern Style Chicken Patties" />
                    <p1>
                        Southern Style Chicken Patties will make you think that you are eating chicken when you're reeally not. But the odd taste is what adds authenticity to the patties.
                        These patties will still blow the minds of anyone that consumes it as they are top notch'
                    </p1>
                    <div>
                        <strong>
                            Located In New Market and Manukau Stores<br />
                            New Market - 277 Broadway
                            <br />
                            Manukau - 652 Great South Road
                        </strong>
                    </div>
                </div>
            </div>
            <strong style="font-size:50px">Toppas</strong>
            <div class="row row-cols-3">
                <div class="col">
                    <h1>Chicken Cordon Bleu Toppa</h1>
                    <img src="https://mbnz-off-media.s3.ap-southeast-2.amazonaws.com/wp-content/uploads/2020/08/16155442/2955fcd5309207ceb3c3d652628f8895.jpg" style="height: 70%; width: 90%; " alt="Chicken Cordon Bleu Toppa" />
                    <p1>
                        Chicken Cordon Bleu Toppas will have you wanting more and more so that you can feel satisfied. These are filled with a bunch of tasteful stuff that will
                        remind you of a chefs cooking
                    </p1>
                    <div>
                        <strong>
                            Located In New Market and Manukau Stores<br />
                            New Market - 277 Broadway
                            <br />
                            Manukau - 652 Great South Road
                        </strong>
                    </div>
                </div>
                <div class="col">
                    <h1>Lasagna with Extra Cheese Toppa </h1>
                    <img src="https://cdn.shopify.com/s/files/1/0288/3393/9544/products/t.png?v=1645071900" style="height: 70%; width: 90%; " alt="Lasagna Toppa" />
                    <p1>
                       Lasagna Toppas will have you feeling like you have a mini chef that cooks you meals everyday that taste really nice. With a very satisfying crunch.
                        These are worth your money to spend on 
                    </p1>
                    <div>
                        <strong>
                            Located In New Market and Manukau Stores<br />
                            New Market - 277 Broadway
                            <br />
                            Manukau - 652 Great South Road
                        </strong>
                    </div>
                </div>
                <div class="col">
                    <h1>Bacon and Cheese Toppa</h1>
                    <img src="https://www.citycountry.net.au/wp-content/uploads/2020/04/230155-Butlers.jpg" style="height: 70%; width: 90%;" alt="Bacon and Cheese Toppa" />
                    <p1>
                        Bacon and Cheese toppas will satisfy all cravings because of how crunchy and cheesy these toppas are. They taste really really nice and don't cost
                        you an arm and a leg for it very worth to spend money on
                    </p1>
                    <div>
                        <strong>
                            Located In New Market and Manukau Stores<br />
                            New Market - 277 Broadway
                            <br />
                            Manukau - 652 Great South Road
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>